* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
  font-family: "Roboto", sans-serif;
  background: rgb(250, 235, 215);
}

ul{
display: flex;
flex-direction: row;
justify-content: space-between;
list-style: none;
background-color: rgb(212, 198, 181);;
text-decoration: none;
}


.active {
  color: black;
}

#createPostForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap:15px;
}

#createPostForm > * {
  width:50%
}

input {
  width: 100%;
}

.postList{
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap:15px;
}

.post{
  background-color: white;
}